@font-face {
  font-family: Gotham-Medium;
  src: url(./Gotham-Font/GothamMedium.ttf);
}

@font-face {
  font-family: Gotham-Light;
  src: url(./Gotham-Font/GothamLight.ttf);
}

body {
  font-family: "Gotham-Medium";
}

button {
  font-family: "Gotham-Medium";
}

#demo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  border: 3px solid white;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  color: aliceblue;
}

#demo a {
  color: aliceblue;
}
